.container {
    max-width: 1200px;
}

.navbar-nav {
    border-top: 1px solid #9ba4b0;
    border-bottom: 1px solid #9ba4b0;
}

.navbar-nav .navbar-item {
    color: #484e57;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-nav .navbar-item:first-child {
    /* padding-left: 50px; */
}

.navbar-nav .navbar-item p {
    padding: 0;
    margin: 0; 
}

.navbar-item a {
    color: #9ba4b0;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    border-left: 1px solid #9ba4b0;
}

.navbar-nav>.navbar-item:first-child a {
    padding-left: 0;
    border: none;
}

.navbar-nav .navbar-item:last-child a {
    padding-right: 0;
}

.nav {
    background-color: #ff8261;
}

.nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav>a {
    flex-grow: 1;
    text-transform: uppercase;
}

.nav>a:hover,
.nav>a:focus {
    background-color: #52cbf8;
}

.carousel-caption {
    color: black;
    text-transform: uppercase;
}



.screen_2 {
    background-color: #e7f4f8;
}

.search_domain {
    line-height: 25px;
    padding-right: 5px;
    flex: 3;
}

.mini-text {
    font-size: 18px;
    text-transform: uppercase;
}

.maxi-text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#inlineFormInputName1 {
    min-height: 60px;
    /* min-width: 420px; */
    flex: 8;
}

#yearSelect, #dopSelect {
    min-height: 60px;
    /* min-width: 160px; */
    flex: 3;
}

.btn-orange {
    background-color: #ff8261;
    border: none;
    border-radius: 5px;
    min-height: 60px;
    /* min-width: 180px; */
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    flex: 4;
}


.line {
    width: 20px;
    height: 1px;
    background-color: #ff8261;
    background-repeat: no-repeat;
}

.screen_h {
    line-height: 25px;
}

.benefit {
    min-height: 125px;
    max-height: 300px;
    overflow: hidden;
    word-wrap: break-word;
}

.benefit_icon {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.my_text {
    padding-left: 105px;
    font-size: 13.5px;
}

.screen4 {
    background-color: #fffbde;
}

.button > .btn-orange {
    background-color: #ff8261;
    border: none;
    border-radius: 5px;
    min-height: 60px;
    /* min-width: 180px; */
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}