.container {
    max-width: 1200px;
}

.navbar-nav {
    border-top: 1px solid #9ba4b0;
    border-bottom: 1px solid #9ba4b0;
}

.navbar-nav .navbar-item {
    color: #484e57;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-nav .navbar-item:first-child {
    /* padding-left: 50px; */
}

.navbar-nav .navbar-item p {
    padding: 0;
    margin: 0; 
}

.navbar-item a {
    color: #9ba4b0;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    border-left: 1px solid #9ba4b0;
}

.navbar-nav>.navbar-item:first-child a {
    padding-left: 0;
    border: none;
}

.navbar-nav .navbar-item:last-child a {
    padding-right: 0;
}

.nav {
    background-color: #ff8261;
}

.nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav>a {
    flex-grow: 1;
    text-transform: uppercase;
}

.nav>a:hover,
.nav>a:focus {
    background-color: #52cbf8;
}

.carousel-caption {
    color: black;
    text-transform: uppercase;
}

